@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14.6667px;
  line-height: 14.6667px;
  color: #a0a0a1;
}

.header2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11.7333px;
  line-height: 17.6px;
  color: #ffffff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14.6667px;
  line-height: 24.2px;
  color: #a0a0a1;
  text-transform: uppercase;
  background-color: #1f2224;
}

.hidden {
  visibility: hidden;
}

.trans {
    filter: blur(8px);
}

/* GallerySection */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 95vh;
}

.item {
  position: relative;
  display: flex;
}

.item span {
  position: absolute;
  z-index: 1;
  left: 15px;
  bottom: 25px;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.galImg {
  min-width: 100%;
}

/* GallerySection */

/* EnlargeImageSection */

.photo-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
}

.desc {
    text-transform: capitalize;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.contents {
  width: 80vw;
  max-width: 1000px;
  height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  position: absolute;
  z-index: 1;
  left: 15px;
  bottom: 25px;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

/* embed {
  position: absolute;

} */

/* EnlargeImageSection */

/* FooterSection */

footer {
  background-color: #34363b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.first .multiverse{
  color: #ffffff;
}

.first span {
    font-weight: 300;
}
.second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.second span {
    color: #ffffff;
}


/* FooterSection */
